{% load bootstrap4 %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Criação de usuários-BCDS</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Criação de usuários</h1>
        {% bootstrap_messages %}

        <form action="{% url 'create_user' %}" method="post" class="form" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% comment %} {{ form|crispy}} {% endcomment %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            {% endbuttons %}

        </form>
    </div>

{% bootstrap_javascript jquery='full' %}
</body>
</html>