{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ table }} - Delete</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Delete {{ name }}</h1>
        {% bootstrap_messages %}

        <form action="" method="post" class="form" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form %}
            <p> Are you sure you want to delete {{ name_of_delete_instance }} from {{ table }} ?</p>
            {% buttons %}
                <button type="submit" class="btn btn-primary">Delete</button>
            {% endbuttons %}

            {% comment %} <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Delete</button>
            
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete {{ name_of_delete_instance }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Name of instance</label>
                        <input type="text" class="form-control" id="recipient-name">
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="col-form-label">Password</label>
                        <input type="text" class="form-control" id="recipient-name">
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Delete</button>
                  </div>
                </div>
              </div>
            </div> {% endcomment %}
        </form>
    </div>

{% bootstrap_javascript jquery='full' %}
</body>
</html>